---
layout: default
# The notes' layout
---

<div class="row">

  <div id="post-wrapper" class="col-12 col-lg-11 col-xl-8">

    <div class="post pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

      <h1 data-toc-skip>{{ page.title }}</h1>

      <div class="post-meta text-muted d-flex flex-column">
        <!-- Published date and author -->
        <div>
          {% capture _preposition %}{{ site.data.locales[site.lang].post.published | default: 'on' }}{% endcapture %}
          {% include timeago.html date=page.date tooltip=true preposition=_preposition %}
        </div>

        <div>
          <!-- lastmod -->
          {% if page.last_modified_at %}
          <span>
            {{ site.data.locales[site.lang].post.updated | default: 'Updated' }}
            {% include timeago.html date=page.last_modified_at class="lastmod" tooltip=true %}
          </span>
          {% endif %}

          <!-- read time -->
          {% include read-time.html content=content prompt=true %}

        </div>

      </div> <!-- .post-meta -->

      <div class="post-content">

        <em>
          {% if page.categories.size == 2 and page.categories[1] == "Literature" %}
          {% assign ref = page.id | replace: "/notes/", "" %}
          {% reference ref %}
          {% endif %}
        </em>

        {{ content }}

        {% if page.categories.size == 2 and page.categories[1] == "Ideas" %}

        <h2>References</h2>
        {% bibliography --cited %}
        {% endif %}

      </div>

      <div class="post-tail-wrapper text-muted">

        <!-- categories -->
        {% if page.categories.size > 0 %}

        <div class="post-meta mb-3">
          <i class="far fa-folder-open fa-fw mr-1"></i>
          {% for category in page.categories %}
            <a href='{{ site.baseurl }}/activities/{{ category | slugify | url_encode }}/'>{{ category }}</a>
            {%- unless forloop.last -%}, {%- endunless -%}
          {% endfor %}
        </div>
        {% endif %}

        <!-- tags -->
        {% if page.tags.size > 0 %}
        <div class="post-tags">
          <i class="fa fa-tags fa-fw mr-1"></i>
          {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/topics/{{ tag | slugify | url_encode }}/"
            class="post-tag no-text-decoration" >
            {{- tag -}}
          </a>
          {% endfor %}
          </div>
        {% endif %}

        <div class="post-tail-bottom
          d-flex justify-content-between align-items-center mt-3 pt-5 pb-2">
          <div class="license-wrapper">
          {% if site.data.locales[site.lang].copyright.license.template %}
            {% capture _replacement %}
            <a href="{{ site.data.locales[site.lang].copyright.license.link }}">
              {{ site.data.locales[site.lang].copyright.license.name }}
            </a>
            {% endcapture %}
            {{ site.data.locales[site.lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
          {% else %}
            <span class="text-muted small">{{ site.outdated }}</span>
          {% endif %}
          </div>

        </div><!-- .post-tail-bottom -->

      </div><!-- div.post-tail -->

    </div> <!-- .post -->


  </div> <!-- #post-wrapper -->

  {% assign enable_toc = false %}

  {% if site.toc and page.toc %}
    {% if content contains '<h2' or content contains '<h3' %}
      {% assign enable_toc = true %}
    {% endif %}
  {% endif %}

  {% include panel.html toc=enable_toc %}

</div> <!-- .row -->

<div class="row">
  <div class="col-12 col-lg-11 col-xl-8">
    <div id="post-extend-wrapper" class="pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4">

    {% include backlinks.html %}

    </div> <!-- #post-extend-wrapper -->

  </div> <!-- .col-* -->

</div> <!-- .row -->